<?php
/**
 * Created by PhpStorm.
 * User: MD ARIFUL HAQUE
 * Date: 7/10/2020
 * Time: 1:00 AM
 */


return [
    'mode'  => env('NOTIFICATION_MODE','sandbox'),
    'sandbox' => [
        'server_key'    => env( 'NOTIFICATION_SERVER_KEY', 'AAAAanRx5EY:APA91bGnsz0JKePnkrlbAaB58izo6-khYlknrMnM8Ai4ceePdWFXble9uXAXwDG_u3LNmv99TGBLcgQHcVM0XDeR6ItvLRbDaEJv7XNiODP6myFXyw-O7GWd75DUr6OQ4R5eh83JYuCK'),
    ],
    'live' => [
        'server_key'    => env( 'NOTIFICATION_SERVER_KEY', 'AAAAanRx5EY:APA91bGnsz0JKePnkrlbAaB58izo6-khYlknrMnM8Ai4ceePdWFXble9uXAXwDG_u3LNmv99TGBLcgQHcVM0XDeR6ItvLRbDaEJv7XNiODP6myFXyw-O7GWd75DUr6OQ4R5eh83JYuCK'),
    ],
];
